- provide(:title, t('.title'))


.container-fluid
  .row
    = render "layouts/control_sidebar"
    %main.col-md-11.ml-sm-auto.col-lg-11.p-3{:role => "main"}
      - content_for :card_header do
        %h5
          = fa_icon "list", text: t(controller_name + "." + action_name + '.title')


          -#
            = link_to Setting.error_logs.label, error_logs_path, :class => "button button-inverse button-small pull-right mr-1" 
          

          %button.button.button-primary.button-small.pull-right.mr-1{"data-target" => "#newModal", "data-toggle" => "modal", :type => "button"}
            = fa_icon "plus", text: Setting.systems.btn_new, right: false 
      - content_for :card_body do
        .container-fluid
          .row
            .col-md-12
              %table#item-table.text-center.table-sm{:'data-toggle' => "table", :'data-id-table'=>"advancedTable", :"data-pagination"=>"true", :'data-page-size' => "25", :"data-search" => "true", :'data-advanced-search'=>"true", :'data-virtual-scroll' => false }
                %thead
                  %tr
                    %th{:scope => "col", :'data-field' => "id"} #

                    %th{:scope => "col", :'data-field' => "learn"} 
                      = Setting.learn_ctgs.label
                  
                    %th{:scope => "col", :'data-field' => "editor"}
                      科目
                      -#
                        = Setting.qes_banks.editor
                    %th{:scope => "col", :'data-field' => "name"}
                      = Setting.qes_banks.name
                  
                  
                    %th{:scope => "col", :'data-field' => "single_count"}
                      = Setting.qes_banks.single_count
                  
                    %th{:scope => "col", :'data-field' => "mcq_count"}
                      = Setting.qes_banks.mcq_count
                  
                    %th{:scope => "col", :'data-field' => "tof_count"}
                      = Setting.qes_banks.tof_count
                  
                    %th{:scope => "col", :'data-field' => "qaa_count"}
                      = Setting.qes_banks.qaa_count
                  
                    %th{:scope => "col", :'data-field' => "type_button"}
                      题型

                    %th{:scope => "col", :'data-field' => "button"}
                %tbody
                  - @qes_banks.each_with_index do |qes_bank, index|
                    %tr
                      %td{:scope => "row"}
                        = index+1
                    
                      %td
                        - unless qes_bank.learn_ctg.nil?
                          = qes_bank.learn_ctg.name
                      %td
                        = qes_bank.editor
                      %td
                        = qes_bank.name
                      %td
                        = qes_bank.singles.count
                      %td
                        = qes_bank.mcqs.count
                      %td
                        = qes_bank.tofs.count
                      %td
                        = qes_bank.qaas.count
                      %td
                        .container-fluid
                          .row.justify-content-center
                            -#
                              = link_to "单选题",  qes_bank_singles_path(idencode(qes_bank.id)), :class => "button button-primary button-small mr-1" 
                            = link_to "单选题",  qes_bank_singles_path(idencode(qes_bank.id)), :class => " mr-2" 
                            = link_to "多选题",  qes_bank_mcqs_path(idencode(qes_bank.id)), :class => " mr-2" 
                            = link_to "判断题",  qes_bank_tofs_path(idencode(qes_bank.id)), :class => " mr-2" 
                            = link_to "问答题",  qes_bank_qaas_path(idencode(qes_bank.id)), :class => " mr-2" 
                      %td
                        .container-fluid
                          .row.justify-content-center
                            = link_to "编辑", edit_qes_bank_path(idencode(qes_bank.id)), :class => "button button-primary button-small mr-1" 
                            = link_to "删除",  qes_bank_path(idencode(qes_bank.id)), :method => :delete, :data => {:confirm => "确定删除吗?"}, :class => "button button-caution button-small" 
            .col-md-12.site-theme-paginate-wrapper.d-flex.justify-content-center.mt-3
              = paginate @qes_banks, window: 2, left: 1, right: 1 
      = render "layouts/bootstrap/card"


#newModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "newModalLabel", :tabindex => "-1"}
  .modal-dialog.modal-xl.modal-dialog-centered
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} x 
      .modal-body
        = render 'form'
