- provide(:title, t('.title'))

.container-fluid
  .row
    = render "layouts/control_sidebar"
    %main.col-md-11.ml-sm-auto.col-lg-11.p-3{:role => "main"}
      - content_for :card_header do
        %h5
          = fa_icon "newspaper-o", text: t(controller_name + "." + action_name + '.title')
          = link_to "/#{controller_name}", :class => "button button-small  pull-right button-primary" do
            = fa_icon " chevron-left", text: Setting.systems.btn_back, right: false 
      - content_for :card_body do
        .container-fluid
          .row
            .col-sm-12
              %h2.text-center
                = image_tag "gykg.jpg"
            .col-md-8.offset-2.p-5.border
              .card.border-0.mb-3.rounded-0
                .card-header.bg-transparent.border-dark
                  %h5
                    = Setting.papers.label
                .card-body
                  %table.table-bordered.day-pdt-table.w-100.mb-3
                    %tbody
                    
                      %tr
                        %td.p-2.text-center
                          = Setting.papers.name
                        %td.p-2.text-center
                          = @paper.name
                    
                      
                        %td.p-2.text-center
                          = Setting.papers.start_time
                        %td.p-2.text-center
                          = @paper.start_time
                    
                      
                        %td.p-2.text-center
                          = Setting.papers.end_time
                        %td.p-2.text-center
                          = @paper.end_time
                    
                      %tr
                        %td.p-2.text-center
                          = Setting.papers.single
                        %td.p-2.text-center
                          = @paper.single
                    
                      
                        %td.p-2.text-center
                          = Setting.papers.single_score
                        %td.p-2.text-center
                          = @paper.single_score
                    
                      
                        %td.p-2.text-center
                          = Setting.papers.mcq
                        %td.p-2.text-center
                          = @paper.mcq
                    
                      %tr
                        %td.p-2.text-center
                          = Setting.papers.mcq_score
                        %td.p-2.text-center
                          = @paper.mcq_score
                    
                      
                        %td.p-2.text-center
                          = Setting.papers.tof
                        %td.p-2.text-center
                          = @paper.tof
                    
                      
                        %td.p-2.text-center
                          = Setting.papers.tof_score
                        %td.p-2.text-center
                          = @paper.tof_score
                    
                      %tr
                        %td.p-2.text-center
                          = Setting.papers.qaa
                        %td.p-2.text-center
                          = @paper.qaa
                    
                      
                        %td.p-2.text-center
                          = Setting.papers.qaa_score
                        %td.p-2.text-center
                          = @paper.qaa_score
                    
                      
                        %td.p-2.text-center
                          = Setting.papers.desc
                        %td.p-2.text-center
                          = @paper.desc
                    
              .row
              
              .row
              
              .row
              
              
              
      = render "layouts/bootstrap/card"
